n8n/workflow.json
{
  "name": "Asistente Emi",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "asistente",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        300
      ],
      "webhookId": "asistente-emi"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.intent }}",
                    "rightValue": "greeting",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "outputKey": "greeting"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.intent }}",
                    "rightValue": "lead",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "outputKey": "lead"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "chat"
        }
      },
      "name": "Ruta por intent",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const b = $json.body || {};\nconst d = b.data || {};\nreturn [{ json: {\n  nombre: d.nombre || null,\n  apellido: d.apellido || null,\n  mensajeOriginal: d.mensaje || b.message || null\n} }];"
      },
      "name": "Preparar saludo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        60
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.callmebot.com/whatsapp.php",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "__TU_TELEFONO__"
            },
            {
              "name": "apikey",
              "value": "__TU_APIKEY_CALLMEBOT__"
            },
            {
              "name": "text",
              "value": "={{ 'Nuevo saludo en el portfolio de ' + ($('Preparar saludo').item.json.nombre || '?') + ' ' + ($('Preparar saludo').item.json.apellido || '') + ': ' + ($('Preparar saludo').item.json.mensajeOriginal || '') }}"
            }
          ]
        },
        "options": {}
      },
      "name": "WhatsApp a Emi",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        740,
        60
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { reply: '¡Saludo entregado! Emi lo recibe en su WhatsApp entre build y build. 💌' } }];"
      },
      "name": "Respuesta saludo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1180,
        60
      ]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {}
      },
      "name": "Responder saludo",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1400,
        60
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.body.data.avisoAceptado }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "¿Consentimiento?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const b = $json.body || {};\nconst d = b.data || {};\nreturn [{ json: {\n  tipoProyecto: d.tipo || null,\n  nivelProyecto: d.nivel || null,\n  nombre: d.nombre || null,\n  apellido: d.apellido || null,\n  contacto: d.contacto || null,\n  mensajeOriginal: b.message || null,\n  resumen: d.resumen || `${d.tipo || 'proyecto'} nivel ${d.nivel || '?'}`,\n  avisoDerivacionAceptado: true\n} }];"
      },
      "name": "Preparar prospecto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        740,
        220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8081/api/v1/prospectos/ingesta",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "dev-prospectos-key-cambiar"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "name": "Guardar prospecto",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        220
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const d = $('¿Consentimiento?').item.json.body.data || {};\nreturn [{ json: { reply: `¡Listo, ${d.nombre || ''}! Tus datos quedaron registrados. AMN te contacta a ${d.contacto || 'tu contacto'} a la brevedad. 🙌` } }];"
      },
      "name": "Respuesta lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1180,
        220
      ]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {}
      },
      "name": "Responder lead",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1400,
        220
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { reply: 'Sin problema. Necesito que aceptes el aviso de derivación para poder pasar tus datos a AMN. Si cambiás de idea, acá estoy. 🙂' } }];"
      },
      "name": "Respuesta sin consentimiento",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        740,
        420
      ]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {}
      },
      "name": "Responder sin consentimiento",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        960,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || {};\nconst msg = String(body.message || '').toLowerCase();\nconst pick = (a) => a[Math.floor(Math.random() * a.length)];\nlet reply;\nif (/(hola|buenas|hey|holi|que tal|qué tal)/.test(msg)) {\n  reply = '¡Hola! Asistente de Emi al habla. Él está ocupado compilando su vida, pero yo estoy acá. Podés dejarle un saludo o contarme si buscás una web. 🙂';\n} else if (/(trabajo|contrat|empleo|puesto|vacante|cv|entrevista|reclut|linkedin)/.test(msg)) {\n  reply = pick(['Emi ya tiene trabajo, estudios y un perro. La agenda está completa.', '¿Trabajo? Está en modo no molestar hasta recibirse.']);\n} else if (/(precio|presupuesto|cotiz|freelance|pagar|cuanto|cuánto)/.test(msg)) {\n  reply = 'De precios y plazos se encarga AMN. Si querés, te tomo los datos y te contactan. Tocá la opción de proyecto. 😉';\n} else if (/(gracias|genial|jaja|jeje|crack|capo)/.test(msg)) {\n  reply = 'Un placer 😌 Volvé cuando quieras.';\n} else {\n  reply = pick(['Contame: ¿venís a saludar o buscás una web/sistema?', 'Te leo. ¿Un saludo para Emi o un proyecto en mente?']);\n}\nreturn [{ json: { reply } }];"
      },
      "name": "Cerebro humorista",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        620
      ]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {}
      },
      "name": "Responder chat",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        740,
        620
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Ruta por intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ruta por intent": {
      "main": [
        [
          {
            "node": "Preparar saludo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "¿Consentimiento?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cerebro humorista",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar saludo": {
      "main": [
        [
          {
            "node": "WhatsApp a Emi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp a Emi": {
      "main": [
        [
          {
            "node": "Respuesta saludo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respuesta saludo": {
      "main": [
        [
          {
            "node": "Responder saludo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Consentimiento?": {
      "main": [
        [
          {
            "node": "Preparar prospecto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respuesta sin consentimiento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar prospecto": {
      "main": [
        [
          {
            "node": "Guardar prospecto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar prospecto": {
      "main": [
        [
          {
            "node": "Respuesta lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respuesta lead": {
      "main": [
        [
          {
            "node": "Responder lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respuesta sin consentimiento": {
      "main": [
        [
          {
            "node": "Responder sin consentimiento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cerebro humorista": {
      "main": [
        [
          {
            "node": "Responder chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}